@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700;900&display=swap');

* {
  background-color: lightgray;
  font-family: 'Roboto', sans-serif;
  margin: 0;
  padding: 0;
}

h1,
p,
.winner {
  text-align: center;
}

p, 
.winner {
  margin: 20px 0;
}

h1 {
  font-size: 60px;
}

i {
  font-size: 250px;
}

.container {
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.move {
  width: 400px;
  height: 400px;
  border: 2px solid black;
  border-radius: 16px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.move-text {
  padding-top: 40px;
  font-size: 32px;
}

.scores {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.df {
  display: flex;
  gap: 12px;
}

.turns {
  height: 60px;
  border: 2px dashed transparent;
}

.choices {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 50px;
}

.choice-side {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 70px;
}